 /* font-family: 'Source Sans Pro', sans-serif;  */

 *{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(../images/banner.png);
    background-repeat: no repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.hg{
    min-height: 91vh;
    align-items: center;
}

.phone{

position: absolute;

bottom: 0;

left: 56%;
}

.phone img{
    
width: 100%;
}
.navbar-light .navbar-nav .nav-item{
    padding-left: 20px;
}

.navbar-light .navbar-nav .nav-link {
   color: #fff;
   font-size: 17px;
   position: relative;
   padding: 0;
   font-family: 'Source Sans Pro', sans-serif;
}
.navbar-light .navbar-nav .nav-link:hover {
   color: #fff;
  
}

.navbar-light .navbar-nav .nav-link::before {
   
   position: absolute;
   content: '';
   height: 2px;
   width: 0;
   left: 0;
   bottom: -10px;
   background-color: #008ed6;
   transition: .5s all ease-in-out;
  
}

.navbar-light .navbar-nav .nav-link::after {
   
   position: absolute;
   content: '';
   height: 2px;
   width: 0;
   right: 0;
   bottom: -10px;
   background-color: #008ed6;
   transition: .5s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::before , .navbar-light .navbar-nav .nav-link:hover::after{
   width: 45%;
}

.header-content{
   color: #fff;
}

.header-content h5{
   color: #008ed6;
   margin-bottom:15px;
   font-size: 15px;
   letter-spacing: 1.5px;
   text-transform:uppercase ;
   font-family: 'Source Sans Pro', sans-serif;
}

.header-content h1{
   color: #fff;
   margin-bottom: 20px;
   font-size: 50px;
   font-family: 'Source Sans Pro', sans-serif;
}

.header-content p{
   color: #999999;
   margin-bottom: 50px;
   font-family: 'Source Sans Pro', sans-serif;
}

.btn-download{

color: #fff;

padding: 0px;

padding: 12px 18px;

background-color: #008ed6;

text-transform: uppercase;

letter-spacing: 1px;

font-size: 14px;
}

.btn-features{
    color: #fff;
    padding: 0px;
    padding: 12px 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    border: 1px solid #999999;
    margin-left: 15px;
}

.btn-download:hover{
background-color:transparent ;
border: 1px solid #999999;
color:#fff;
}
.btn-features:hover{
    background-color:#008ed6 ;
    border: 1px solid #008ed6;
    color:#fff;
}

.features-section{
   padding: 50px 0;
}


.product-heading{

}

.product-heading h5{
   color: #008ed6;
   font-size: 16px;
   text-transform: uppercase;
   letter-spacing: .5px;
   font-family: 'Source Sans Pro', sans-serif;

}
.product-heading h1{
   color: black;
   font-size:40px ;
   font-family: 'Source Sans Pro', sans-serif;

}

.product-heading span{
   display: inline-block;
   height: 3px;
   width: 50px;
   position: relative;
}

.product-heading span::before{
   position: absolute;
   content: '';
   left: 0;
   top: 0;
   height: 100%;
   width: 0;
   background-color:#008ed6 ;
   transition: .4s all ease-in-out;


}
.product-heading span::after{
   position: absolute;
   content: '';
   right: 0;
   top: 0;
   height: 100%;
   width:0;
   background-color:#008ed6 ;
   transition: .4s all ease-in-out;


}

.features-section:hover .product-heading::before{
   width: 47%;
}
.features-section:hover .product-heading::after{
   width: 47%;
}




.icon-content{

   text-align: center;
}

.icon-content h3{
   font-family: 'Source Sans Pro', sans-serif;
}

.icon-content p{
color: #999999;
font-family: 'Source Sans Pro', sans-serif;
}

.icon{
   height: 80px;
   width: 80px;
   line-height: 80px;
   border: 1px solid #999999;
   border-radius: 50%;
   text-align: center;
   margin: auto;
   font-size: 25px;
   color:#008ed6;
}

.details-section{
padding: 50px 0;
border-top:1px solid #999999;
}
.details-heading{
align-items: center;
padding: 50px 0;
}

.details-heading h5{
   color:#008ed6 ;
   text-transform: uppercase;
   letter-spacing: .5px;
   font-size: 16px;
   font-family: 'Source Sans Pro', sans-serif;
   margin-bottom: 15px;

}

.details-heading h1{
   color: black;
   font-size: 40px;
   font-family: 'Source Sans Pro', sans-serif;
   margin-bottom: 15px;
}

.details-heading span{
   display: inline-block;
   height: 3px;
   width: 50px;
   position: relative;
   margin-bottom: 15px;
}

.details-heading span::before{
   position: absolute;
   content: '';
   left: 0;
   top: 0;
   height: 100%;
   width: 0;
   background-color:#008ed6 ;
   transition: .4s all ease-in-out;

   
}

.details-heading span::after{
   position: absolute;
   content: '';
   right: 0;
   top: 0;
   height: 100%;
   width:0;
   background-color:#008ed6 ;
   transition: .4s all ease-in-out;

   
}

.details-section:hover .details-heading span::before, .details-section:hover .details-heading span::after{
   width: 47%;
}
.details-heading p{
   color: #999999;
   font-family: 'Source Sans Pro', sans-serif;
   margin-bottom: 15px;
}

.details-icon{

}
.details-icon ul{
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: left;
  
}

.details-icon ul li{
   text-align: left;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 18px;

}
.details-icon ul li i{
   color:#008ed6  ;
   margin-right: 10px;
   padding: 0;
}









.customize{
   padding: 50px 0;
   background-color:#f2f2f2 ;
   margin-right: 50px;
   
}

.customize:hover .details-heading span::before {
   width: 47%;
}
.customize:hover .details-heading span::after {
   width: 47%;
}






























